<div class="row">
  <div class="jumbotron text-center">
    <h1><%= @notification.user.full_name %></h1>
    <h2><%= @notification.recrutation.job.name %>.</h2>
    <% if @notification.status == 0 %>
      <div class="btn btn-default">
        Status: Oczekujące
      </div>
        <% elsif @notification.status == 1 %>
      <div class="btn btn-success">
        Status: Zaakceptowane
      </div>
      <% else %>
      <div class="btn btn-danger">
        Status: Odrzucone
      </div>
    <%end %>
  </div>
</div>
<%= link_to "Zobacz CV", @notification.document.url, target: '_blank' %>
<% if @notification.recrutation.company.id == current_user.company_id && @notification.status == 0 %>

    <div class="row">
      <div class="col-md-6">
        <%= link_to "Zaakceptuj zgłoszenie", {controller: 'notifications', action: 'accept_notification', id: @notification.id}, class: 'btn btn-success', style: 'width:100%' %>

      </div>
      <div class="col-md-6">
        <%= link_to "Odrzuć zgłoszenie", {controller: 'notifications', action: 'refuse_notification'}, id: @notification.id, class: 'btn btn-danger', style: 'width:100%' %>
      </div>
    </div>

<% elsif current_user.id == @notification.user_id %>

<% end %>