<h2> Dane Twojego profilu </h2>
<hr>
<div class="col-md-3">
  <%= image_tag avatar_url(@user, 250) %>
  <br>
  <br>
</div>
<br>
<br>
<div class="col-md-9">
  <strong> <p class ="lead"> Imię: </strong> <%= @user.firstname %> </p>
  <strong> <p class ="lead"> Nazwisko: </strong> <%= @user.lastname %> </p>
  <strong> <p class ="lead"> Email: </strong> <%= @user.email %> </p>

  <%= link_to "Edytuj swój profil", edit_user_registration_path(@user), class: 'btn btn-success' %>
</div>
<br>
<br>
<% if @user.role == 0 %>
<% unless @notifications.empty? %>
<table class="table">
  <thead>
    <th>Nazwa firmy</th>
    <th>NIP </th>
    <th>Stan rekturacji</th>
  </thead>
  <tbody>
    <% @notifications.each do |e| %>
  <tr>
    <td><%= e.recrutation.company.name %></td>
    <td><%= e.recrutation.company.nip %></td>
    <td><%= status(e.status) %></td>
  </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<% end %>
<br>
<br>
