<div class="col-md-4 col-md-offset-4 well">
  <h1><%= @company.name %></h1>
  <h2><%= @company.description %></h2>
  <p>NIP: <%= @company.nip %></p>
  <p>Adres firmy: <%= @company.address %></p>
</div>





  <% @recrutations.each do |r| %>
<%# todo add title %>
<div class="col-md-8 col-md-offset-2 well">
  <div class="col-md-4"><%# link_to r.title, recrutation_path(r.id) %></div>
  <div class="col-md-4 col-md-offset-2"><%= r.salary %></div>
</div>


  <% end %>

