
<div class="col-md-6 well">
  <p class = "lead"><%= @company.name %></p>
  <h1> Szczegóły naszej firmy: </h1>
  <h3> Czym się zajmujemy? </h3>
  <h4><%= @company.description %></h4>
  <blockquote>
  <h4> <strong> Numer identyfikacji podatkowej: </strong> <%= @company.nip %> </h4>
  <h4> <strong> Adres firmy: </strong> <%= @company.address%>  </h4>
</blockquote>
  <input id="address" style="display:none;" data-address="<%= @company.address %>"/>
</div>
<div class="col-md-6">
  <div id="map" style="height: 200px" data-map="<%=@company.map %>"></div>
</div>
  <% @recrutations.each do |r| %>
<div class="col-md-8 col-md-offset-2 well">
  <div class="col-md-4">
    <%= link_to r.title, company_recrutation_path(r.company_id, r.id) %><br>
    <span style="color:green"><%= r.job.name %></span>
  </div>
  <div class="col-md-2 col-md-offset-4"><%= r.salary %></div>
</div>
  <% end %>
<script src="geo.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL83WfzxmwshCPup5Hq0WGaNECnXpvxM4&callback=initMap">
</script>
