<nav class="navbar topnav navbar-inverse" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Hackaton application</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to "Hackaton application", root_path, class: "navbar-brand topnav" %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                  <li>
                      <%= link_to "Ustawienia profilu", user_path(current_user.id) %>
                  </li>
                  <% if current_user.role == 1 %>
                  <li>
                    <% if current_user.company_id %>
                      <%= link_to "Twoja firma", company_path(current_user.company_id) %>
                    <% else %>
                      <%= link_to "Twoja firma", new_company_path %>
                    <% end %>
                  </li>
                  <li>
                      <%= link_to "Zalogowany jako PRACODAWCA" + " " + "(" +  current_user.email + ")", "#" %>
                  </li>
                  <% else %>
                  <li>
                    <%= link_to "Zalogowany jako PRACOWNIK" + " " + "(" +  current_user.email + ")", "#" %>
                  </li>
                  <% end %>
                  <li>
                    <%= link_to('Wyloguj się!', destroy_user_session_path, :method => :delete) %>
                  </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
